.center {
  .article-container {
    background-color: #fff;
    .ant-list-item-action {
      margin-top: 8rem;
    }

    .ant-list-item-meta-description {
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
    .ant-list-item {
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background-color: lighten(pink, 10%);
      }
    }
  }

  .siderbar {
    background-color: #fff;
    text-align: center;
    font-size: 1.6rem;
    padding: 1rem;
    .siderbar__icon {
      display: flex;
      justify-content: space-around;
    }
  }
}
